.icons {
    width: 100%;
    height: 380px;
    background: $teal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    .container {
      width: 20%;
      height: auto;
      text-align: center;
      margin-right: 40px;
  
      img {
        width: 25%;
        padding-bottom: 15px;
      }
  
      h2 {
        padding-bottom: 10px;
      }
  
      p {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  