main {
    max-width: 1300px;
    width: 100%;
    height: auto;
    margin: auto;
  
    .container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
  
      &:nth-of-type(2){
        flex-direction: row-reverse;
      }
  
      .text-box {
        width: 50%;
        text-align: justify;
        padding: 60px;
  
        h2 {
          font-size: 1.7em;
          padding-bottom: 10px;
        }
  
        p {
          font-size: 1.1em;
          color: rgba(0, 0, 0, 0.6);
        }
      }
  
      .img-box {
        height: auto;
        width: 50%;
        margin: auto;
  
        img {
          width: 100%;
        }
      }
    }
  }